.line{
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.line .tableline{
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.line .icons{
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  align-items: center;
}

.line .icons a{
  width: auto;
  align-self: center;
  cursor: pointer;
}

@media screen and (max-width: 950px){
  .line .tableline{
    width: 80%;
  }
  
  .line .icons{
    width: 20%;
  }
}

@media screen and (max-width: 550px){
  .line .tableline{
    width: 70%;
  }
  
  .line .icons{
    width: 30%;
  }
}

@media screen and (max-width: 370px){
  .line .tableline{
    width: 60%;
  }
  
  .line .icons{
    width: 40%;
  }
}