.tablelabel{
  width: 33.3%;
  display: flex;
  align-self: flex-start;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tablelabel p{
  color: var(--cor-blue-text);
}

@media screen and (max-width: 950px){
  .tablelabel{
    width: 100%;
  }
  .hide{
    display: none;
  }
}